/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 14; /* 메인 컬러의 색조값 */
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);

  /*Green gradient*/
  --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
  --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --border-ra: 1.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* margin: var(--header-height) 0 0 0; */
  padding-top: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: 100%;
  vertical-align: middle; object-fit: cover;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

section, footer{padding-top: 100px;}
/*=============== REUSABLE CSS CLASSES ===============*/
.container{width: 90%; margin: 0 auto;  }

.flex{display: flex;}
.grid{display: grid;}

.img_box{margin: 0 auto; max-width: 250px; }
.btn{ border: none; background: rgb(253, 53, 3); color: #fff; border-radius: 9px;}


/*=============== LAYOUT ===============*/


/*=============== HEADER ===============*/
.top_menu{justify-content:space-between; align-items: center;}
.top_menu .left_item{ align-items: center;}
.top_menu .left_item .img_box{ width: 30px; padding: 5px; }

/*=============== NAV ===============*/


@media screen and (max-width: 767px){
  /* 모바일 네비게이션이 변경되는 위치 */
  
}


/* Show menu */


/* Change background header */
/* 스크롤을 내릴때 HEADER 영역에 배경색이 들어간다. (--container-color) */


/* Active link */


/*=============== HOME ===============*/
.pages{ width: 100%; position: relative; top: 30px;}
.home{padding: 0;}

.home_content .home_top_item{text-align: end;}
.bx-menu{font-size: var(--mb-1-5);}
.home_content .home_top_item .txt_box{position: relative;}
.home_content .home_top_item .txt_box::after{content: ''; width: 1px; height: 40px;  background: #fff; position: absolute; top: 50px; right: 3px;}
.home_content .home_top_item .txt_box::before{content: ''; width: 7px; height: 7px;  background: #fff; border-radius:var(--border-ra); position: absolute; top:90px; right: 0;}
.home_content .home_bottom_item h4{padding-bottom: 10px;}
.home_content .home_bottom_item h2{ font-weight: var(--font-black); font-size: var(--biggest-font-size); line-height: 110%;}
.home_content .home_bottom_item .txt_box{ padding-top: 20px; padding-bottom: 30px; font-size: var(--mb-0-75);  }
.home_content .home_bottom_item .home_btn{justify-content: space-between; align-items: center;}
.home_content .home_bottom_item .home_btn>button{padding: 13px 20px 13px 20px;  }

/* Swiper Class */
.swiper-container { width: 100%; height: 100%; }
.swiper-pagination-bullet { width: 6px; height: 6px; background: transparent; background: #fff;  opacity: 1; }
.swiper-pagination-bullet-active { width: 20px; transition: width .5s; border-radius: 5px; background: #fff; border: 1px solid transparent; }


/*=============== BUTTONS ===============*/


/*=============== CATEGORY ===============*/
.category h2{text-align: center;}
.category_content {margin: 0 auto;}
.category_content .category_item .txt_box{text-align: center;}
/*=============== ABOUT ===============*/
.about{flex-direction: column;}
.about .img_box{padding-top: 30px;}
.about_content{ flex-direction: column; text-align: center;}
.about_content div{padding-top: 20px;}
.about_content .btn_wrap{justify-content: center;}
.about_content .btn_wrap .btn{padding: 15px;}

/*=============== TRICK OR TREAT ===============*/
.trick h2{text-align: center;}
.trick_content{ margin: 0 auto; max-width: 500px; gap: 20px;  }
.trick_item{ margin: 0 auto;  max-height: 300px; border-radius:var(--border-ra); background: var(--container-color); position: relative; }
.trick_item .content{margin: 50px auto;  width: 60%; text-align: center; }
.trick_item .cart{border-radius:var(--border-ra) 3px 20px 3px; background: rgb(253, 53, 3); position: absolute; bottom: 0; right: 0;  }
.trick_item .cart_icon{font-size: var(--mb-2-5);}

/*=============== DISCOUNT ===============*/
.discount_content{padding: 50px;  background: var(--container-color); border-radius:var(--border-ra);}
.discount_content .discount_item{text-align: center;}
.discount_content .discount_item h3:last-of-type{padding-bottom: 30px;}
.discount_content .discount_item .btn{padding: 10px;}

/*=============== NEW ARRIVALS ===============*/
.news{ text-align: center;}
.new_arrivals_content{padding-top: 40px; width: 100%; }
.new_arrivals_content .slide{max-width: 2100px; gap: 20px;}
.new_arrivals_content .slide .slide_item{max-width: 350px; border-radius:var(--border-ra); background: var(--container-color); flex-direction: column; }
.new_arrivals_content .slide .slide_item .btn_wrap{padding: 10px 0px 0px 10px;}
.new_arrivals_content .slide .slide_item .btn_wrap .btn{padding: 10px; }
.new_arrivals_content .slide .slide_item .txt_box{padding-top: 10px; justify-content: center; align-items: center; gap: 4px;}
.new_arrivals_content .slide .slide_item .txt_box p:last-of-type{font-size: var(--small-font-size); color: rgb(253, 53, 3); position: relative;}
.new_arrivals_content .slide .slide_item .txt_box p:last-of-type::before{content: ''; width: 75%; height: 1px; background: rgb(253, 53, 3); position: absolute; top: 50%; left: 11px;}


/*=============== NEWSLETTER ===============*/
.newsletter{padding-top: 80px;  text-align: center;}
.newsletter>p{font-size: var(--small-font-size);}
.newsletter>p:first-of-type{padding-top: 20px;}
.newsletter .newsletter_content{padding: 23px; margin: 50px auto; max-width: 500px; border-radius:var(--border-ra); background: var(--container-color); justify-content: space-between; align-items: center;}
.newsletter .newsletter_content .btn{padding: 15px 25px 15px 25px;}

/*=============== FOOTER ===============*/
.footer .footer_content{gap: 25px;}
.footer .footer_content .footer_item p{padding-top: 4px;}
.footer .footer_content .footer_item .title{flex-direction: column; }
.footer .footer_content .footer_item .title .title_item{align-items: center;}
.footer .footer_content .footer_item .title .title_item img{width: 60%;}
.footer .footer_content .footer_item .title .txt_box{}
.footer .footer_content .footer_item .title .icons{gap: 10px;}
.footer .footer_content .footer_item .title .icons .icon_box{padding: 5px; border-radius:var(--border-ra); background: var(--container-color);}
.footer .footer_content .footer_item h3{padding-bottom: 10px;}
.footer .copy{padding: 40px 0px 10px 0px; font-size: var(--small-font-size); text-align: center;}


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px){
  /* 모든 컨텐츠 항목은 한줄로 정렬된다. */
 .container{max-width: 996px;}
 
/* For medium devices */
}
@media screen and (min-width: 576px){
  
  .category_content {max-width: 500px; grid-template-columns: repeat(2, 1fr);}
  .trick_content{padding-top: 50px; gap: 15px; grid-template-columns: repeat(2, 1fr); }
  .trick_content{max-width: 500px;}
/* For medium devices */
}

@media screen and (min-width: 767px){
  /* 767px "이상"의 디바이스 대응 */
}

/* For large devices */
@media screen and (min-width: 992px){  
  /* 992px "이상"의 디바이스 대응 */
}

@media screen and (min-width: 1200px){  
  /* 1200px "이상"의 디바이스 대응 */
  .home .img_box{max-width: 350px;}
  .home_content{grid-template-columns: repeat(2, 1fr); }
  .home_content .home_top_item .txt_box{width: 35%; order: 2; }
  .home_content .home_top_item .txt_box::after{content: ''; width: 1px; height: 70px;  background: #fff; position: absolute; top: -30%; left: 110%;}
  .home_content .home_top_item .txt_box::before{content: ''; width: 7px; height: 7px;  background: #fff; border-radius:var(--border-ra); position: absolute; top: -30%; left: 108%;}

  .category_content{max-width: 100%; grid-template-columns: repeat(3, 1fr); gap: 60px;}
  
  .about{grid-template-columns: repeat(2, 1fr)}
  .about .img_box{max-width: 350px;}
  .about .about_content{text-align: left;}
  .about .about_content .btn_wrap{justify-content: flex-start;}
  
  .trick_content{max-width: 100%; grid-template-columns: repeat(3, 1fr); gap: 30px;}

  .discount_item{grid-template-columns: repeat(2, 1fr); align-items: center; }
  .discount_item .img_box{order: 1;}
  .discount_item .txt_box{order: 2; }
  .footer_content{grid-template-columns: repeat(4, 1fr); place-items: center;}
}
