/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 14; /* 메인 컬러의 색조값 */
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);

  /*Green gradient*/
  --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
  --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --border-ra: 1.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* margin: var(--header-height) 0 0 0; */
  padding-top: 10px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: 100%;
  vertical-align: middle; object-fit: cover;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

section, footer{padding-top: 100px;}
/*=============== REUSABLE CSS CLASSES ===============*/
.container{ max-width: 996px; width: 90%; margin: 0 auto;  }
.flex{display: flex;}
.grid{display: grid;}

.img_box{ max-width: 240px; margin: 0 auto; transition: .5s; }
.img_box:hover{ transform: translateY(-10px); transition: .5s;}
.btn{ border: none; background: var(--first-color); color: #fff; border-radius: 9px;}


/*=============== LAYOUT ===============*/


/*=============== HEADER ===============*/
.header {position: fixed; top: 0; left: 0;  z-index: var(--z-tooltip); width: 100%;  align-items: center; }
.header .nav{justify-content:space-between; align-items: center; height: var(--header-height);}
.header .nav__logo{ align-items: center; column-gap: 0.5rem; font-weight: var(--font-medium); color: #fff;}
.header .nav__logo .logo{ width: 1.25rem; }
.header .nav__toggle{font-size: 1.25rem;}

/*=============== NAV ===============*/
.nav__menu .menu a{font-weight: var(--font-black);  color: #fff; }
.nav__menu .menu button{padding: 10px 25px 15px 25px; border: 2px solid #fff; border-radius: var(--border-ra); color: #fff; background: none;}
.nav_menu--item{position: relative;}
@media screen and (max-width: 767px){
  /* 모바일 네비게이션이 변경되는 위치 */
  .nav__menu .menu{ flex-direction: column; gap: 2rem; align-items: center; }
  .nav__menu .nav__menu--spider{ position: absolute; top: 0; left: 0; width: 100px; }
  .nav__menu .nav__menu--back{position: absolute; top: 0; right: 1.25rem; }
  .nav__menu .nav__menu--back .bx-x{ font-size: var(--mb-2); line-height: 50px;}
  .nav__menu{  position: fixed; z-index: var(--z-fixed); top: -150%; left: 0; width: 100%; padding: 3rem 0;  border-radius: 0px 0px var(--border-ra) var(--border-ra);  background: var(--container-color); text-align: center; transition: .5s;}
  
}
.show_menus{top: 0; transition: .5s;}


/* Show menu */

/* Change background header */
/* 스크롤을 내릴때 HEADER 영역에 배경색이 들어간다. (--container-color) */
.header_background{background: var(--container-color);}

/* Active link */
.nav_active::before{content: ''; position: absolute; bottom: -0.75rem; left: 45%; width: 5px; height: 5px; background-color: var(--title-color); border-radius: 50%}


/*=============== HOME ===============*/
.home{padding: 0; padding-top: var(--header-height);}

.pages{ width: 100%; position: relative; top: 30px;  z-index: 0; }
.home__swiper--item{padding: 0px 1px 0px 1px; }
.home__top{ text-align: end; }
.home__top .txt_box{position: relative;}
.home__top .txt_box::after{content: ''; width: 1px; height: 40px;  background: #fff; position: absolute; top: 50px; right: 3px;}
.home__top .txt_box::before{content: ''; width: 7px; height: 7px;  background: #fff; border-radius:var(--border-ra); position: absolute; top:90px; right: 0;}
.home__top .img_box{ max-width: initial; height: 200px;}
.home__bottom{row-gap: 1.25rem;}
.home__bottom .home__title{ font-weight: var(--font-black); font-size: var(--biggest-font-size); line-height: 109%;}
.home__bottom .txt_box{ font-size: var(--mb-1);  }
.home__bottom .home__btns{justify-content: space-between; align-items: center; color: #fff; font-weight: var(--font-medium);}
.home__bottom .home__btns button{padding: 0.8rem 1.25rem;  }

/* Swiper Class */
.swiper-pagination-bullet { width: 6px; height: 6px; background: transparent; background: #fff;  opacity: 1; }
.swiper-pagination-bullet-active { width: 20px; transition: width .5s; border-radius: 5px; background: #fff; border: 1px solid transparent; }


/*=============== BUTTONS ===============*/


/*=============== CATEGORY ===============*/
.category h2{text-align: center;}
.category__contents {margin: 0 auto; gap: var(--mb-1);}
.category__item .txt_box{text-align: center;}
.category__item .img_box{width: 120px;}
/*=============== ABOUT ===============*/
.about__content{text-align: center;}
.about__content .about__item *{padding-bottom: 1rem;}

.about__item div{padding-top: 20px;}
.about__item .btn_wrap{justify-content: center;}
.about__item .btn_wrap .btn{padding: 15px;}

/*=============== TRICK OR TREAT ===============*/
.trick h2{text-align: center;}
.trick__contents{ margin: 0 auto; gap: 1rem; justify-content: center;}
.trick__item{ margin: 0 auto; width: 210px; height: 12.5rem; border-radius:var(--border-ra); background: var(--container-color); position: relative; overflow: hidden;}
.trick__item .img_box{width: 120px;}
.trick__item .trick__inner-content{margin: 0 auto;  width: 60%; text-align: center; }
.trick__item .cart{ border-radius:var(--border-ra) 3px 20px 3px; background: var(--first-color); position: absolute; bottom: 0; right: -3rem;  transition: .3s;}
.trick__item:hover .cart{  bottom: 0; right: 0;  transition: .3s;}
.trick__item:hover .img_box{transform: translateY(-10px);}
.trick__item .cart_icon{font-size: var(--mb-1-5); padding: 8px;}



/*=============== DISCOUNT ===============*/
.discount__content{padding: 1rem;  background: var(--container-color); border-radius:var(--border-ra);}
.discount__item{gap: 0.75rem; text-align: center;}
.discount__item h2{ padding: 2rem;}
.discount__item--btn{padding: 1.25rem;}

/*=============== NEW ARRIVALS ===============*/
.new{ text-align: center;  }
.new__contents{padding-top: 40px;}
.new__item{ position: relative;  flex-direction: column; width: 242px; padding: 2rem 0; border-radius:var(--border-ra); background: var(--container-color); overflow: hidden; }
.new__item .img_box{max-width: 120px; padding-bottom: 1rem;}
.new__item .new__btn{position: absolute; top: 10%; left: 1rem; padding: 0.5rem}
.new__item .txt_box{justify-content: center; align-items: center; gap: 0.5rem;}
.new__item--active{position: relative; font-size: var(--small-font-size); color: var(--first-color); }
.new__item--active::before{content: ''; width: 75%; height: 1px; background: var(--first-color); position: absolute; top: 50%; left: 11px;}
.new__item .cart_icon{font-size: var(--mb-1-5); padding: 0.5rem;}
.new__item .cart{ border-radius:var(--border-ra) 0.25rem 1.25rem 0.25rem; background: var(--first-color); position: absolute; bottom: 3px; right: -3rem;  transition: .3s;}
.new__item:hover .cart{  bottom: 0; right: 0;  transition: .3s;}
.new__item:hover .img_box{transform: translateY(-10px); transition: .5s;}

/*=============== NEWSLETTER ===============*/
.newsletter{  text-align: center; justify-content: center; gap: 1.5rem;}
.newsletter>p{padding: 0 2rem; font-size: var(--normal-font-size);}
.newsletter__content{padding: 1rem;  max-width: 500px; border-radius: 0.5rem; background: var(--container-color); justify-content: space-between; align-items: center;}
.newsletter__content input{width: 70%; border: none; background: none; color: #fff;}
.newsletter__content input::placeholder{color: #fff;}
.newsletter__content .btn{padding:1rem 2.25rem;}

/*=============== FOOTER ===============*/
.footer{width: 100%; position: relative; overflow: hidden;}
.footer__img--one{position: absolute; top: 20%; right: -5%;  max-width: 80px;  transition: .5s;}
.footer__img--two{position: absolute; top: 70%; right: 20%;  max-width: 120px;  transition: .5s;}
.footer__contents{gap: 1.5rem;}
.footer__item--title{flex-direction: column; }
.footer__title--item{align-items: center;}
.footer__item .txt_box{margin-bottom: 3rem; }
.footer__item .txt_box li{ padding-bottom: 0.5rem;}
.footer__item .txt_box li a{color: var(--text-color);}
.footer__title--item img{width: 60%;}
.footer__icons{gap: 0.75rem;}
.footer__icons .icon_box{padding: 0.2rem; border-radius: 0.2rem; background: var(--container-color);}
.footer__item h3{padding-bottom: 0.75rem;}

.copy{padding-bottom: 1.5rem; font-size: var(--small-font-size); text-align: center;}
.footer__img--one:hover{ transform: translateY(-10px); transition: .5s;}
.footer__img--two:hover{ transform: translateY(-10px); transition: .5s;}

/*=============== SCROLL UP ===============*/
.scroll{position: fixed; bottom: -30px; right: 20px; border-radius: 4px; opacity: .6; background: var(--container-color); transition: .4s;}
.scrollup_icon{font-size: var(--mb-1-5); color: #fff;}
.scroll_show{transition: .4s; bottom: 30px;}

/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  /* 모든 컨텐츠 항목은 한줄로 정렬된다. */
  .home__bottom .home__btns{flex-direction: column; align-items: flex-start; row-gap: 1rem;}
  /* .container{width: 90%;} */
/* For medium devices */
}
@media screen and (min-width: 576px){
  .category__contents {max-width: 500px; grid-template-columns: repeat(2, 1fr); }
  .trick__contents{padding-top: 50px; gap: var(--mb-1-5); grid-template-columns: repeat(2, 200px); }
  .trick__contents{max-width: 500px;}
/* For medium devices */
}

@media screen and (min-width: 767px){
  /* 767px "이상"의 디바이스 대응 */
  .header{height: 6rem;}
  .nav__menu--back,
  .nav__toggle,
  .nav__menu--spider{display: none;}
  .nav__menu{ align-items: center;}
  .nav__menu .menu{  flex-direction: row; align-items: center; column-gap: 3rem;}

  .category__contents{max-width: 100%; grid-template-columns: repeat(3, 200px); justify-content: center; gap: 5rem;}

  .home__swiper--item{grid-template-columns: repeat(2, 1fr); gap: var(--mb-2); padding-top: 40px;}
  .home__swiper--item .home__top .img_box{ max-width: initial; height: 280px;}
  .home__swiper--item .home__top .txt_box::after{right: 92px;}
  .home__swiper--item .home__top .txt_box::before{right: 89px;}

  .about__content{grid-template-columns: repeat(2, 1fr)}
  .about__content .img_box{max-width: 250px;}
  .about__content .about__item{text-align: left;}
  .about__content .about__item .btn_wrap{justify-content: flex-start;}
  .about__content{align-items: center;}

  .trick__contents{ grid-template-columns: repeat(3, 200px);  justify-content: center; gap: var(--mb-2);}

  .discount__item{grid-template-columns: repeat(2, 1fr); align-items: center; }
  .discount__item .img_box{order: 1; max-width: 350px;}
  .discount__item .txt_box{order: 2; }
  
  .footer__contents{grid-template-columns: repeat(4, 1fr); place-items: center;}
}

/* For large devices */
@media screen and (min-width: 992px){  
  /* 992px "이상"의 디바이스 대응 */
  .about .img_box{max-width: 350px;}
}

@media screen and (min-width: 1200px){  
  /* 1200px "이상"의 디바이스 대응 */
  .home .img_box{max-width: 350px;}
  .home__swiper--item .home__top .txt_box{width: 35%; order: 2; }
  .home__swiper--item .home__top .txt_box::after{content: ''; width: 1px; height: 70px;  background: #fff; position: absolute; top: -30%; left: 110%;}
  .home__swiper--item .home__top .txt_box::before{content: ''; width: 7px; height: 7px;  background: #fff; border-radius:var(--border-ra); position: absolute; top: -30%; left: 108%;}

  .trick__contents{max-width: 100%;  gap: 1.8rem;}
  
  .footer_img_one{max-width: 80px; top: 30%; right: -2%;}
  .footer_img_two{max-width: 120px; top: 30%;  left: -2%;}
}
