/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 14; /* 메인 컬러의 색조값 */
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);

  /*Green gradient*/
  --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
  --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.flex{display: flex;}
.grid{display: grid;}
.img_box{ vertical-align: middle; object-fit: cover;}
.btn{ border: none; background: rgb(253, 53, 3); color: #fff; border-radius: 5px;}
/*=============== LAYOUT ===============*/


/*=============== HEADER ===============*/


/*=============== NAV ===============*/


@media screen and (max-width: 767px){
  /* 모바일 네비게이션이 변경되는 위치 */
  
}


/* Show menu */


/* Change background header */
/* 스크롤을 내릴때 HEADER 영역에 배경색이 들어간다. (--container-color) */


/* Active link */


/*=============== HOME ===============*/


/* Swiper Class */


/*=============== BUTTONS ===============*/


/*=============== CATEGORY ===============*/


/*=============== ABOUT ===============*/


/*=============== TRICK OR TREAT ===============*/


/*=============== DISCOUNT ===============*/


/*=============== NEW ARRIVALS ===============*/


/*=============== NEWSLETTER ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb{
  background: #272525;
  border-radius: .5rem;
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  /* 320px"이하"의 디바이스 대응 */
  /* 모든 컨텐츠 항목은 한줄로 정렬된다. */
  body{margin-top: 10px;}
  .container{width: 290px; margin: 0 auto; }
    /* header */
  .top_menu{justify-content:space-between; align-items: center;}
  .top_menu .left_item{ align-items: center;}
  .top_menu .left_item .img_box{ width: 30px; padding: 5px; }

  /* main */
  .home_content{flex-direction: column;}
  .home_content .pages{padding-top: 30px; width: 80px; margin: 0 auto; justify-content: space-between;}
  .home_content .pages>div{width: 5px; height: 5px;  border-radius: 5px; background: #fff;}
  .home_content .pages>div:first-of-type{width: 20px; height: 4px;  border-radius: 5px; background: #fff;}
  .home_content .home_top_item{text-align: end;}
  .home_content .home_top_item .img_box{width: 230px; margin: 0 auto; position: relative;}
  .home_content .home_top_item .img_box::after{content: ''; width: 1px; height: 40px;  background: #fff; position: absolute; top: 15px; right: 3px;}
  .home_content .home_top_item .img_box::before{content: ''; width: 7px; height: 7px;  background: #fff; border-radius: 5px; position: absolute; top: 53px; right: 0;}
  .home_content .home_bottom_item h3{padding-bottom: 10px;}
  .home_content .home_bottom_item h2{ font-weight: var(--font-black);  padding-bottom: 5px;}
  .home_content .home_bottom_item .txt_box{ padding-top: 20px; padding-bottom: 30px; font-size: 14px;  }
  .home_content .home_bottom_item .home_btn{justify-content: space-between; align-items: center;}
  .home_content .home_bottom_item .home_btn>button{padding: 13px;  }
/* For medium devices */
@media screen and (min-width: 576px){
  /* 576px "이상"의 디바이스 대응 */
}

@media screen and (min-width: 767px){
  /* 767px "이상"의 디바이스 대응 */
}

/* For large devices */
@media screen and (min-width: 992px){  
  /* 992px "이상"의 디바이스 대응 */
}

@media screen and (min-width: 1200px){  
  /* 1200px "이상"의 디바이스 대응 */
}
